/*****************************/
/*       Media Queries       */
/*****************************/	

/* Max-width width 1199px */
@media (max-width: 1199px){
    
    /**********    Red Blue    *********/
    #red-blue .desktop-bg{
        padding-bottom: 65px;
    }
    
    #red-blue .desktop-bg .content{
        margin-top: 50px;
    }
    
    #red-blue .desktop-bg p{
        line-height: 20px;
        margin-top: 20px;
    }
    
    #red-blue .content .read{
        padding-top: 30px;
    }
    /**********    End of Red Blue    *********/
    
    /**********    Election    *********/
    #election .content h2{
        font-size: 33px;
    }
    /**********    End of Election    *********/
    
    /**********    Information Site    *********/
    #information-site .img-thumb .card-body img{
        padding-left: 20px;
        width: 315px;
    }
    /**********    End of Information Site    *********/
    
    
}

/* Max-width width 991px */
@media (max-width: 991px){
    
    /**********    Navigation    *********/
    .navbar-custom .navbar-brand.logo-image img {
        margin-bottom: ;
    }
    .navbar-custom .signup-area{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .navbar-custom .signup-area .area{
        margin-top: 25px;
        display: block;
    }
    
    .navbar-custom .signup-area .area .united{
        padding: 10px 37px;
    }
    /**********    End of navigation    *********/
    
    /**********     Hero Area    *********/
    #hero-area .left-sight h1{
        font-size: 32px;
    }
    /**********    End of Hero Area    *********/
    
    /**********     Red Blue    *********/
    #red-blue .content h2{
        font-size: 28px;
        line-height: 35px;
    }
    
    #red-blue .desktop-bg .content{
        margin-top: 35px;
        width: 300px;
    }
    
    #red-blue .content p{
        line-height: 18px;
        margin-top: 15px;
    }
    
    #red-blue .desktop-bg{
        width: 800px;
        height: 392px;
        position: relative
    }
    /**********    End of Red Blue    *********/
    
    /**********    Election    *********/
    #election .content h2{
        font-size: 25px;
    }
    /**********    End of Election    *********/
    
    /**********    Report card    *********/
    
    #report-card .text-container p{
        line-height: 20px;
        font-size: 13px;
        margin-top: 20px
    }
    
    #report-card .text-container p span{
        display: inline;
    }
    /**********    End of Report card    *********/
    
    /**********    Information Site    *********/
    #information-site .content h2{
        font-size: 34px;
    }
    
    #information-site .img-thumb .card-body img{
        padding-left: 20px;
        width: 350px;
    }
    /**********    End of Information Site    *********/
    
    /**********    footer    *********/
    #footer .footer-top .links a{
        margin-right: 30px;
    }
    
    #footer .footer-top .icons a{
        margin-left: 25px;
    }
    
    #footer .footer-bottom .left p{
        font-size: 12px;
    }
    
    #footer .footer-bottom .right a{
        font-size: 12px;
        margin-left: 20px;
    }
    
    #footer .footer-bottom .right a:nth-child(1){
        margin-left: 70px;
    }
    
    
    /**********    End of Footer    *********/
    
    
}

/* Max-width width 767px */
@media (max-width: 767px){
    
    /**********     Hero Area    *********/
    #hero-area, #hero-area .hero-overlay{
        height: 800px;
    }
    
    #hero-area .left-sight{
        margin-top: 550px;
    }
    
    #hero-area .right-sight{
        margin-top: -570px;
    }
    
    #hero-area .left-sight h1{
        font-size: 28px;
        line-height: 45px;
    }
    /**********    End of Hero Area    *********/
    
    /**********     Red Blue    *********/
    #red-blue .desktop-bg{
        display: none;
    }
    
    #red-blue .mobile-bg{
        background-image: url(../img/Red%20blue%20mobile.png);
        display: block;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 430px;
        height: 950px
    }
    
    #red-blue .politicians .content{
        display: block;
        margin-top: 500px;
        width: auto;
    }
    
    #red-blue .content p{
        line-height: 25px;
        margin-top: 25px;
    }
    /**********    End of Red Blue    *********/
    
    /**********    Democracy    *********/
    #democracy .card{
        width: 380px;
        margin: auto;
        margin-bottom: 30px;
    }
    /**********    End of Democracy    *********/
    
    /**********    Election    *********/
    #election .content h2{
        font-size: 25px;
        line-height: 40px;
    }
    /**********    End of Election    *********/
    
    /**********    Information Site    *********/
    #information-site .img-thumb .card-body img{
        padding-left: 0;
        width: auto;
    }
    
    #information-site .img-thumb .card{
        text-align: center;
    }
    /**********    End of Information Site    *********/
    
    /**********    Membership    *********/
    #membership .visa-img {
        margin-top: -520px;
        text-align: center;
    }
    
    #membership .content {
        margin-top: 240px;
        
    }
    
    #membership .membership-bg{
    background-image: url(../img/card-mobile-bg.png);
    background-size: cover;
}
    
    /**********    End of Membership    *********/
    
    /**********    footer    *********/
    
    #footer .footer-top .links{
        text-align: center;
    }
    
    #footer .footer-top .icons {
        text-align: center;
        margin-top: 30px;
    }
    
    #footer .footer-bottom{
        text-align: center;
    }
    
    #footer .footer-bottom .right a{
        margin-left: 40px;
    }
    
    #footer .footer-bottom .right a:nth-child(1){
        margin-left: 0;
    }
    
    
    /**********    End of Footer    *********/
    
    
}

/* Max-width width 440px */
@media (max-width: 440px){
    
    /**********     Hero Area    *********/
    #hero-area, #hero-area .hero-overlay{
        height: 830px;
    }
    
    #hero-area .right-sight{
        margin-top: -620px;
    }
    /**********    End of Hero Area    *********/
    
    /**********     Red Blue    *********/
    #red-blue .mobile-bg{
        width: 320px;
        height: 950px
    }
    
    #red-blue .politicians .content{
        margin-top: 450px;
    }
    /**********     End of Red Blue    *********/
    
    /**********    Democracy    *********/
    #democracy .card{
        width: 300px;
    }
    /**********    End of Democracy    *********/
    
    /**********    Election    *********/
    #election .content h2{
        font-size: 22px;
        line-height: 30px;
    }
    
    #election .content input{
        width: 330px;
    }
    /**********    End of Election    *********/
    
    /**********    Information Site    *********/
    
    #information-site .content p span{
        display: inline;;
    }
    /**********    End of Information Site    *********/
    
    /**********    Information Site    *********/
    #information-site .img-thumb .card-body img{
        width: 315px;
    }
    /**********    End of Information Site    *********/
    
    /**********    Frequently Asked Questions Section    *********/
    .faq .section-title h2{
        font-size: 25px;
    }
    
    .faq .section-title{
        margin-bottom: 30px;
    }
    
    .faq .faq-list a{
        font-size: 13px;
    }
    /*******    End of Frequently Asked Questions Section   *******/
    
    /**********    Membership    *********/
    #membership .content h2 {
        font-size: 25px;
    }
    
    .access-popup .popup-bg h4 {
        font-size: 22px;
        margin-top: 20px;
    }
    
    #membership .content .play .boxed{
        margin-right: 10px;
    }
    /**********    End of Membership    *********/
    
    
    /**********    footer    *********/
    
    #footer .footer-top .links a{
        margin-right: 10px;
    }
    /**********    End of Footer    *********/
}




/* Min-width width 992px */
@media (min-width: 992px) {
	
	/**********    Navigation    *********/
	.navbar-custom {
		padding: 0.125rem 1.5rem 0.125rem 2rem;
		box-shadow: none;
        background: #fff;
	}
	
	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0rem 1.5rem 0rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
        text-align: right
	}

	/**********    End of navigation    *********/
    
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/**********    Navigation    *********/
	.navbar-custom {
		padding: 0.125rem 5rem 0.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0rem 5rem 0rem 5rem;
	}
    
	/**********    End of navigation    *********/
    
}
/* end of min-width width 1200px */

@media screen and (min-device-width: 768px) and (max-device-width: 991px) { 
    
    /**********    Democracy    *********/
    
    #democracy .card {
        padding-top: 0;
        height: 300px;
    }
    
    #democracy .card .content .cottation{
        width: 35px;
        height: auto;
    }
    
    #democracy .card .content .middle{
        margin-top: 30px;
    }
    
    #democracy .card .content .middle img{
    width: 45px;
    height: 45px;
}
    
    #democracy .card .content .middle-text{
        margin-left: 10px;
        margin-top: 0;
    }
    
    #democracy .card .content .middle-text h5{
        font-size: 13px;
        line-height: 15px;
    }
    
    #democracy .card .content .middle-text p{
        font-size: 11px;
        line-height: 15px;
    }
    
    #democracy .card .content .bottom p{
        font-size: 10px;
        line-height: 15px;
        margin-top: 30px;
    }
    
    
    
    /**********    End of Democracy    *********/
}
